:root {
    --eerie-black: #222222ff;
    --linen: #f7ede2ff;
    --ultra-violet: #4b4e6dff;
    --lilac: #be95c4ff;
    --sky-magenta: #ce84adff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.map--section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 0;
}

#add-toggle {
    position: absolute;
    width: 10vw;
    height: 5vh;
    bottom: 0;
    left: 25vw;
    background-color: var(--linen);
    color: var(--ultra-violet);
    border: none;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 1s;
    z-index: 100;
}

#add-toggle:hover {
    opacity: 0.85;
}

#add-toggle.toggled {
    background-color: var(--ultra-violet);
    color: var(--linen);
    opacity: 1;
}

#panel {
    height: 100vh;
    width: 25vw;
    background-color: var(--linen);
    border-right: solid var(--sky-magenta) 0.25vw;
    z-index: 10;
}

#map {
    height: 100vh;
    width: 75vw;
    z-index: 0;
}
